@media (max-width: 1067px) {
    .three-column {
        display: flex !important;
        flex-direction: column !important;
        gap: 100px !important;
        padding-bottom: 100px;
    }
}
@media (min-width: 1024px) {
    .three-column .vault-content {
        padding-top: 0 !important;
        padding-bottom: 150px;
    }
}
.coverlay > div > h1{
    max-width: 500px;
    margin: auto;
}
@media (max-width: 1024px) {
    .coverlay{
        padding: 18% 15% 1% 15% !important;
    }
    .coverlay > div > h1 {
        max-width: 300px;
        margin: auto;
    }
}
.coverlay{
    padding: 18% 15% 1% 15% !important;
}

