@media (max-width: 1067px) {
    .three-column {
        display: flex !important;
        flex-direction: column !important;
        gap: 100px !important;
        padding-bottom: 100px;
    }
}
@media (min-width: 1024px) {
    .three-column .vault-content {
        padding-top: 0 !important;
        padding-bottom: 150px;
    }
    .coverlay {
        max-width: 1500px !important;
    }
}
@media (min-width: 2024px) {
    .three-column .vault-content {
        padding-top: 0 !important;
        padding-bottom: 150px;
    }
    .coverlay {
        max-width: 2000px !important;
    }
}
.coverlay > div > h1{
    max-width: 500px;
    margin: auto;
}
@media (max-width: 1024px) {
    .coverlay{
        padding: 18% 15% 1% 15% !important;
    }
    .coverlay > div > h1 {
        max-width: 300px;
        margin: auto;
    }
}
.coverlay{
    padding: 18% 15% 1% 15% !important;
}



.terms-and-conditions input{
    background-color: white;
  }
  .terms-and-conditions {
    align-items: flex-start;
    display: flex;
    line-height: 1.25rem;
    word-break: break-word;
    margin-top: 5px;
  }
  
  .terms-and-conditions p {
    margin: 0!important;
    font-size: 12px;  
    font-family: Gotham Book;
  }
  
  .mail-button {
    float: left;
  }
  
  .mail-button {
    display: block;
    border: 2px solid #fff;
    background-color: transparent;
    /* background-color: #000; */
    color: #fff;
    padding: 12px 24px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 7px;
    margin: 5px auto 0 0;
    cursor: pointer;
    transition: background-color 0.3s;
  max-width: 300px;
  
    font-family: Gotham Book Bold;
  }
  
  .mail-button:hover {
    background-color: #d32f2f !important;
    border-color: #d32f2f;
  }
  input {
    background-color: white;
    color: black;
    padding: 13px;
    border-radius: 10px;
  }
  .platform-btn{

    transition: all 0.3s ease-in-out;
    transition: color 0.35s ease-in-out;
  }
  .platform-btn:hover {
    transition: all 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    background-color: white !important;
    color: black !important;
    /* font-family: 'Gotham Book Bold'; */
  }