
.hexagon {
  position: relative;
  display: block;
  width: 100%;
  height: 590px;
  max-width: 800px;
  margin: 30px auto;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.hexagon.loaded {
  opacity: 1;
}

@media (min-width: 1267px) {
  .hexagon.loaded {
    transform: scale(1.2);
    margin-top: 100px;
  }
}
@media (min-width: 1667px) {
  .hexagon.loaded {
    transform: scale(1.4);
    margin-top: 300px;
  }
}
.hexagon-item {
  position: absolute;
  width: 50%; /* Each item takes up half of the row */
  padding-bottom:23vh; /* Adjust for the height of an equilateral triangle */
  background-size: cover;
  
  background-position: center;
  overflow: visible; /* Allow triangles to extend beyond their boundaries */
  /* transition: transform 0.3s ease-in-out; */
  transition: all 300ms ease-in-out;
  cursor: pointer;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%); /* Default upright triangle */
}
@media (min-width: 767px) and (max-height: 900px) {
  .hexagon-item {
    padding-bottom:40vh;
  }
}
/* @media (min-width: 767px) and (max-height: 700px) {
  .hexagon-item {
    padding-bottom:35%;
  }
} */
.hexagon-item p{
  font-family: 'Gotham Book Bold' !important;
}
@media (min-width: 767px) and (max-height: 1000px) {
  .hexagon-item {
    padding-bottom:37%;
  }
}

.hexagon-item:nth-child(2n) {
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%); /* Inverted triangle */
}
.hexagon-item:nth-child(1n) p {
  /* top: 200px; */
  color: white;
  font-weight: bold;

  /* position: absolute; */
}
.hexagon-item:nth-child(2n) p {
  /* position: absolute; */
  top: 100px;

  color: white;
  font-weight: bold;
  left: 50px;
}
.hexagon-item:nth-child(2n) .hexagon-description {
  position: absolute;
  top: 40%;
  /* clip-path: polygon(50% 100%, 0% 0%, 100% 0%); */
}

.hexagon-item:hover {
  transform: scale(1.25);
  transition: all 275ms ease-in-out;
  z-index: 10;
}
.hexagon-item:nth-child(5):hover {

  transform: scale(1.25) rotate(180deg) !important;
}

/* Specific positions for each triangle */
.hexagon-item:nth-child(1) {
  top: 0;
  left: 0;
}
.hexagon-item:nth-child(1)  .hexagon-description {
  position: absolute;
  top: 65%;
}


.hexagon-item:nth-child(2) .hexagon-description {
  top: 20%;
}
.hexagon-item:nth-child(2) {
  top: 0;
  left: 25%;
}

.hexagon-item:nth-child(3) {
  top: 0;
  left: 50%;
}

.hexagon-item:nth-child(3)  .hexagon-description {
  position: absolute;
  top: 60%;
}

.hexagon-item:nth-child(4) {
  top: 50%;
  left: 0;
}

.hexagon-item:nth-child(5) {
  top: 50%;
  left: 25%;
  transform: rotate(180deg);
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
}

.hexagon-item:nth-child(5)  .hexagon-description {
  top: -42%;
}
.hexagon-item:nth-child(4)  .hexagon-description {
  position: absolute;
  top: 45%;
}

.hexagon-item:nth-child(6) {
  top: 50%;
  left: 50%;
}

.hexagon-item:nth-child(6)  .hexagon-description {
  position: absolute;
  top: 40%;
}

/* Text inside the triangles */
.hexagon-description {
  background-color: #1f1c1c70;
  padding: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Gotham Book Bold';
  color: white;
  text-align: center;
  font-size: 20px;

  transition: opacity 0.3s ease-in-out;
  z-index: 2;
  min-width: 200px;
}
.hexagon-item:nth-child(5) .hexagon-description {
  transform: translate(-50%, 500%) rotate(180deg);

}

.hexagon-item:hover .hexagon-description {
  opacity: 1;
  
}

.hexagon-description a {
  display: block;
  margin-top: 10px;
  background-color: #f15a23;
  padding: 8px 12px;
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  
}

.hexagon-description a:hover {
  background-color: #d04e1f;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 767px) {
  .hexagon {
    /* min-height: 2000px; */
    height: 873px;
  }
  .hexagon-item {
    width: 66.66666666666667%; /* Full width for stacking on mobile */
    padding-bottom: 18rem;
  }

  .hexagon-item:nth-child(2n) {
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%); /* Ensure inverted on mobile */
  }
  .hexagon-item:nth-child(1) {
    top: 0;
    left: 0;
  }
  .hexagon-item:nth-child(1)  .hexagon-description {
    position: absolute;
    top: 70%;
  }
  
  
  .hexagon-item:nth-child(2) {
    top: 0;
    left: 33.33333333333333%;
  }
  
  .hexagon-item:nth-child(3) {
    top: 33.33333333333333%;
    left: 33.33333333333333%;
  }
  
  .hexagon-item:nth-child(3) .hexagon-description {
    top: 40.33333333333333%;
    left: 48.33%;
  }
  .hexagon-item:nth-child(4) {
    top: 66.66666666666667%;
    left: 33.33333333333333%;
  }
  
  .hexagon-item:nth-child(5) {
    top: 66.66666666666667%;
    left: 0%;
    transform: rotate(180deg);
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
  }
  
  .hexagon-item:nth-child(4)  .hexagon-description {
    position: absolute;
    top: 20%;
  }
  
  .hexagon-item:nth-child(6) {
    top: 33.33333333333333%;
    left: 0%;
  }
  
  .hexagon-item:nth-child(6)  .hexagon-description {
    position: absolute;
    top: 40%;
  }
}

@media (min-width: 767px) and (min-height: 1000px) {
  .hexagon-item {
    padding-bottom:38%;
  }
}
@media (max-width: 417px) {
  .hexagon-item:nth-child(3) .hexagon-description {
    top: 58.33333333333333%;
    left:50.33%;
  }
  .hexagon-item:nth-child(5) .hexagon-description {
    transform: translate(-50%,75%) rotate(180deg);
    top: 30% !important;
  }
  .hexagon-item:nth-child(4) .hexagon-description {
    max-width: 167px !important;
    transform: translate(-50%,-25%) !important;
    min-width: 167px;
  }
}