.vault-containerr {
  font-family: 'Gotham Book';
  text-align: center;
  /* background-color: #fff; */
  padding-bottom: 550px;
  
}

.vault-title {
  font-size: 24px;
margin: 0px !important;
color: #000 !important;
font-family: 'Gotham Book';
font-weight: bold;
margin-top: 20px !important;
}

.vault-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 !important;
}

.vault-form {
  padding: 50px;
  background-color: #000;
  padding-top: 50px;
  border-radius: 10px;
  padding-bottom: 38px !important;
  flex: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.vault-form h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #fff;
}

.vault-form p {
  font-size: 14px;
  color: #d0cccc;
  margin-bottom: 20px;
  line-height: 1.6;
}

.vault-form label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: left;
  margin-left: 1px;
  color: #fff;
}

.vault-form input {
  width: 100%;
  padding: 10px;
  margin-bottom:10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 12px;
  background: #ccc;
}

.vault-form button {
  background-color: #266BF8;
  border: 3px #266BF8 solid;
  color: #fff;
margin-top: 0px;

  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 300ms ease-in;
}

.vault-form button:hover {
  background-color: #b62a2a;
  border-color: #b62a2a;
}

.vault-image {
  flex: 1;
}

.vault-image img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
  .vault-content {
    flex-direction: column;
    align-items: center;
  }

  .vault-form,
  .vault-image {
    width: 100%;
  }
}
.course-container .vault-containerr {
  padding-bottom: 0;
}
.course-container .vault-form{
  padding:32px 50px !important;
  margin-top: 12px;
  max-width: 520px;
  /* padding-bottom: ; */
}

.course-container button {
  margin-top: 20px;
}