.carousel-container a{
  transform: scale(1.1);
}
.carousel-container {
  overflow: hidden;

  position: relative;
  height: 100%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  border-color: #4b5563;
  width: 100%;
}

.carousel-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100%; */
  max-height: 227px !important;
  min-width: 390px;
box-sizing: border-box;
  background: rgb(41, 40, 40);
  border: 1px #fff solid;
}
.carousel-card:hover {
  
  z-index: 1000;
  /* box-shadow: 5px 5px 8px rgba(222, 222, 222, 0.362),
    10px 10px 8px rgba(152, 133, 133, 0.392),
    15px 15px 8px rgba(139, 154, 139, 0.303); */
    /* border: 3px #fff solid; */
    cursor: pointer;
    

}
/* .carousel-card:hover  {
 ;
} */
.Blog .carousel-card:hover #play-icon {
  transition: all 0.3s ease-in-out;
  opacity: 100;
  background-color: #1f1a1a99;
  min-width: 100%;
  top: 0 !important;
  padding: 10px !important;
  padding-right: 20px !important;
  min-height: 100%;
}
.carousel-card #play-icon {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.carousel-card > img {
  height: 100%;
  width: 100%;
  

}

.carousel-track {
  display: flex;
  position: absolute;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 220px;
  gap: 0;
  top:0;
  width: 200%;

  animation: slide 50s linear infinite;
  &:hover {
      animation-play-state: paused;
  }
}
.carousel-track:nth-child(2) {
  top: 228px  ;
}

@keyframes slide {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.hidden {
  opacity:0;
}
.console-container {
 
  font-family:'Gotham Book Bold';
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}