@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
div *, div * * {
    font-family: 'Gotham Book';
}
.arrow {
    position: relative;
}
.arrow:before {
    content: '';
    background-image: url('/arrow.png');
    background-size: 100%;
    position: absolute;
    width: 0.885vw;
    height: 4.219vw;
    top: -2vw;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999;
}

.subtitle {
    transform: translateX(-30%);
    /* opacity: 0.2; */
    transition: all 1.75s ease-in;
    transition: opacity 1.75s ease-in;

}
.title {
    transform: translateX(-50%);
    transition: all 1.95s ease-in;
    transition: opacity 1.95s ease-in;
}

.visible {
  transform: translateX(0);
}
  
.break {
  display: none;
}
  
@media (max-width: 768px) {


  .about-section {
    margin: 0 !important;
    min-height: 100% !important;
  }

  .about-section-container {
    padding: 0 !important;
  }

  .Speaking .title, .Speaking .subtitle {
    transition: none;
  }

  .vault-content {
    min-width: 100% !important;
  }
}

@media (max-width: 1067px) {
  .cover-title, .title--speaking {
    font-size: 34px !important;
    text-align: center !important;
  }

  .cover-header {
    padding: 30px !important;
  }

  .break {
    display: initial;
  }

  .cover-subtitle {
    font-size:51px !important;
  }
}