.vault-container {
    font-family: 'Gotham Book';
    text-align: center;
    
    min-height: 800px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-bottom: 550px !important;
    padding-left: 0;
    padding-right: 0;
    margin-top: -1rem;
  }
  
  .vault-title {
    font-size: 24px;
    margin-bottom: 5vh;
    color: #fff;
  }
  
  .vault-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .vault-form {
    padding: 63px;
    background-color: #000;
    padding-top: 50px;
    border-radius: 10px;
    padding-bottom: 50px;
    flex: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .vault-form h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .vault-form p {
    font-size: 14px;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .vault-form label {
    text-align: left;
    display: block;
    font-size: 14px;
    margin-bottom: 3px;
    margin-left: 5px;
    color: #fff;
  }
  
  .vault-form input,
  .vault-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom:10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    color: white !important;
    font-size: 14px;
    background: #ccc;
  }
  
  .vault-form textarea {
    resize: none;
    height: 80px;
  }
  
  .vault-form button {
    background-color: #266BF8;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;

    transition: background-color 0.3s ease;
  }
  
  .vault-form button:hover {
    background-color: #982424;
    
  }
  
  .vault-image {
    flex: 1;
  }
  
  .vault-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .vault-content {
      flex-direction: column;
      align-items: center;
    }
  
    .vault-form,
    .vault-image {
      width: 100%;
    }
  }
  
  .address-group {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
  }
  
  .card-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  
  .button-container {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    margin-top: 20px;
  }

  .hero-container {
    padding-bottom: 55px;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(https://images.clickfunnels.com/b9/c2ec517…/ppl-bg.jpg);
  }

  h4 {
    font-size: 36px;
    font-family: 'Gotham Book';
    font-weight: 800;
  }
  h1 {
    font-size: 56px;
    line-height: 64px;
    text-align: left;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 42px;
  }
  p {
    font-size: 18px;

    text-align: left;
    line-height: 23px;
  }
  .highlight {
    text-align: center;
    color: rgb(0, 117, 178);
  }
  .yes-btn {
    color: rgb(255, 255, 255);
    background: rgb(255, 112, 0);
    font-size: 21px;
    cursor: pointer;
    max-width: 1600px;
padding: 50px;
    background-image: linear-gradient(-8deg, #ffbb2a 10%, #ff7000 74%) !important;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.4);
    height: 80px;
    margin: auto;
    padding-top: 27px;
  }
  .secondary-container {
    display: flex;
    max-width: 1170px;
    margin: auto; 
    gap: 50px;
     margin-bottom: 20px;
  }
  .secondary-container > div{
  }
  .highlight-text {
    color: orange;
    border-right: 10px solid orange;
    padding-right: 10px;
  }

  .standard-container {
    max-width: 1170px;
    margin: auto;
  }
  .mm-list li {
    margin-bottom: 1.5rem;
    text-align: left;
  }

  .mm-list strong {
    color: rgb(1, 116, 199);
  }

  .mm-list {
    flex-grow: 1fr;
    max-width: 50%;
   
  }

  .highlight-blue {
    color: rgb(1, 116, 199);
  }
  .brown-highlight {
    color: rgb(157, 139, 0);
  }
  .test-vid {
    min-width: 400px;
    min-height: 225px;
    user-select: none;
    z-index: 100;
  }
  @media screen and (min-width: 1810px) {
    .test-vid {
      min-width: 540px;
      min-height: 305px;
    }
  }

  .book-container .vault-form{
    padding:31px 50px !important;
    margin-top: 0px;
    
  max-width: 520px;
    padding-bottom: 50px;
  }