.testimonial {
    display: flex;
    padding-top: 100px !important;
    align-items: center;
    background-color: transparent;
    color: #fff;
    padding: 0rem 1.5rem;
    border-radius: 8px;
    padding-bottom: 100px;
    max-width: 100vw;
    margin: auto;
  margin-bottom: 200px;
  }


  
  .testimonial-portrait {
    width: 1200px;
    height: 360px;
    border-radius: 50%;
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 2rem;
  }

  @media (min-width: 1068px) {
    .testimonial {
      max-width: 1040px;
    }
  }
  @media (max-width: 768px) {
    .testimonial-portrait {
        width: 190px;
        height: 190px;
    }
  }
  
  .testimonial-content {
    text-align: left;
  }
  
  .testimonial-quote {
    font-size: 21px;
    font-family: "Gotham Book";

    /* font-style: italic; */

    color: #ccc;
    margin-bottom: 1rem;
    line-height: 28px;

  }
  
  .testimonial-author {
    font-weight: 800;
    display: block;
    float: right;
    font-size: 22px;
    font-family: "Gotham Book Bold";
    
    text-align: right;
    line-height: 1.8em;
    margin-top: 0;
}

.testimonial-meta {
  font-family: "Gotham";
  text-align: center;
    font-size: 21px;
    margin-top: 30px;
  font-weight: 700;
  padding-right: 140px;
    color: #ddd;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .testimonial {
      flex-direction: column;
      text-align: center;
    }
  
    .testimonial-portrait {
      margin: 0 auto 1rem auto;
    }
  
    .testimonial-content {
      text-align: center;
    }
  }
  