.vault-container {
    min-height: 23400px;
}

.flex { display: flex;}
.flex.vert {flex-direction: column;}
.half {
    width: 50%;
}

.ascension-table {
    max-width: 675px;
}
.ascension-cover {
    border-color: rgb(217, 217, 217);
    padding-top: 20px;
    min-height: 210px;
    padding-bottom: 20px;
    display: flex;
    border-width: 5px;
    justify-content: center;
    
    background-color: rgb(7, 91, 183);
}

.ascension-table-row {
    border-color: rgb(217, 217, 217);
display: flex;
flex-direction: column;
gap:10px;
padding: 15px;
border-width: 5px;
text-align: left;
border-top: 5px;
}
.ascension-table-row:nth-child(2n) { 
    background-color: rgb(240, 240, 240);
}
.ascension-table-row h1 {
    font-size: 21px;
    font-family: 'Gotham Book Bold';
    font-weight: 900;
    margin-top: 7px;
    line-height: 21px;
    margin: 0;
}
.ascension-table-row p {

}
.containerInner {
    width: 1176px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.container {
    min-width: 100%;
}

.circle-image {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 3px, rgba(0, 0, 0, 0.15) 0px 0px 2px;
    border-width: 1px 1px 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.25);
    border-image: initial;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 200px;
    background: rgba(0, 0, 0, 0.15);
    padding: 5px !important;
    max-height: 250px;
}

strong.highlight {
    color:rgb(7, 91, 183);
}

.bob-point-img {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.15), 0 0 2px rgba(0, 0, 0, 0.15);
    padding: 5px !important;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.15);
}

.square {
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    max-height: fit-content;
    padding: 20px 30px;
}

.square-alt {
    padding: 10px;
    max-height: fit-content;
    padding: 20px 30px;
}

.bonus-video {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.15), 0 0 2px rgba(0, 0, 0, 0.15);
    padding: 5px !important;
    border-radius: 200px;
    background: rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
}

.blue-bg {
    padding-top: 20px;
    margin-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.also-access {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.15), 0 0 2px rgba(0, 0, 0, 0.15);
    padding: 5px !important;
    border-radius: 200px;
    background: rgba(0, 0, 0, 0.15);
}

.link {
    color: rgb(65,139,189);
    cursor: pointer;
    font-size: 23px;
}
.link:hover {
    text-decoration: underline;
}