.enroll-btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.enroll-btn {
    color: rgb(255, 255, 255);
    font-size: 30px;
    background-color: rgb(7, 91, 183);
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    font-weight: bold;
    border-radius: 4px;
    padding: 19px 40px;
    margin-top: 20px;
    cursor: pointer;
}

span.text {
    font-weight: 600;
    text-align: center;
    font-size: 26px;
    color: white;
}