.container {
    width: 80%;
    max-width: 1080px;
    margin: auto;
    padding-bottom: 500px;
    padding-top: 100px;
    font-family: 'Gotham Book';
}
.container > h1 {
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    font-family: 'Gotham Book Bold';
}
a {
cursor: pointer;
    color: #707070;
}

@media (max-width: 1068px) {
    .blog-video {
        max-width: 100% !important;
        height: auto !important;
        min-height: 300px !important;
    }
    .subarticles {
        /* opacity: 0; */
        flex-direction: column;
        display: none;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
@media (max-width: 768px) {
    .read.container {
        margin: 0 !important;
        width: 100%;
    }

    .read {
        p {
            margin: 30px;
        }
    }
.read-page{
    min-height: 8000px;}

    .subarticles-card {
        min-width: 360px !important;
    }

}

