
.course-player-container {
  display: flex;
  height: 200vh;
  /* position: fixed; */
  background-color: #0b1224;
  padding-top: 5rem;
  margin-top: -1.5rem;
  margin-bottom: 400px;
  color: white;
}

.course-sidebar {
  width: 31%;
  background-color: #0d152a; /* Sidebar background */
  padding: 20px;
  padding-right: 40px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.module-section {
  margin-bottom: 20px;
cursor: pointer;
  margin-right: 10px;

}

.module-title {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: white; /* Orange color for section titles */
  margin-bottom: 10px;
  cursor: pointer;
}

.module-videos {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #14253e;
  border-left: 2px solid #f79c26;
}

.video-item {
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.video-item.active {
  background-color: #101c37;
}

.video-item:hover {
  background-color: #1e2a45; /* Hover effect */
}

.video-container {
  right: -15px;
  width: 74%;
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: fixed;
}

.video-container.is-mobile {
  width: calc(100% - 20px);
}

.video-player {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.video-placeholder {
  font-size: 16px;
  color: #ccc;
  text-align: center;
  padding: 20px;
  border: 2px dashed #444;
}


.login-container {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 40px;
  margin-top: 4rem;
  padding-bottom: 700px;
  background-color: #fff;
}

.login-container h2 {
  font-size: 24px;
  margin-bottom: 5vh;
  color: #333;
}

.login-form {
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-form .form-group {
  margin-bottom: 20px;
  text-align: left;
}

.login-form label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: left;
  margin-left: 5px;
  color: #333;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background: #ccc;
}

.login-form button {
  background-color: #e67e22;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #cc5e15;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 15px;
  text-align: left;
}
.arrow {
 /* display: none;  */
 
 display: flex;
 margin-left: auto;
 /* margin-left: 20px; */
 padding-right: 10px;
 
}

.course-player-container.is-mobile .arrow{
  margin-left: 0;
}
.course-player-container > span {
  cursor: pointer;
  padding-top: 20px;
  padding-left: 15px;
}

.course-sidebar.is-mobile {

  display: none;
  padding-right: 20px;
  /* padding-right: 0; */
}
.course-sidebar >span{
  width: 50px;
  cursor: pointer;
  margin-left: auto;
}
@media (max-width: 600px) {
  .video-container {
    height: 95%;
  }
  .arrow {
   display: inline; 
  }
  .course-player-container {
    position: relative;
  }
  .course-sidebar {
    /* position: absolute; */
    padding-top: 4rem;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .video-container.false {
    display: none;

  }
  .course-sidebar span{
    /* /* margin-keft: auto; */
    margin-right:-30px !important;

  }
}