

/* Banner */
.banner {
  position: relative;
  padding-top: 30px;
  /* height: 100vh; */
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  color: white;
  background-color: #000000;
  flex-direction: column;
  
  text-align: center;
}

.video {
  max-width: 100%;
  max-height: 100%;
  min-height: 600px;
  object-fit: cover;
  /* margin-bottom: 50px; */
  
}

.bannerOverlay {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  z-index: 2;
  font-family: Roboto;
  margin-bottom: 10px;
  
}
@media (max-width: 800px) {
  .bannerOverlay {
    min-height: 400px;
    padding-bottom: 1rem;
  }
}
/* .content {
  height: 100%;
} */

.bannerOverlay:after {
  content: '';
  height: 100%;

  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
} 
.bannerOverlay h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.bannerOverlay p {
  font-size: 1.2rem;
}

/* Sliding Text Section */
.animatedSection {
  background-color: #f8f8f8;
  /* border: 7px #fff solid; */
  padding: 80px 1rem;
  text-align: center;
  width: 100%;
  color: black;
}

.textContainer {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.8s ease-in-out;

} 

.textContainer h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.textContainer p {
  font-size: 12px;
}

.slideIn {
  opacity: 1;
  transform: translateX(0);
}

.topPageTestimonial {
  display: flex;
  width: 100%;
  justify-content: center;

  background-color: #000;
  flex-direction: column;
}

@media (min-width: 768px) {
  .bannerOverlay h1 {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 768px) {
  .topPageTestimonial {
    margin-top: 0;
  }
}

.getInTouchBtn {
  transition: background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-top: 28px;

    
    border-radius: 8px;
    font: inherit;
    cursor: pointer;
    color: black;
    outline: inherit;
    /* background-color: #333232; */
    background-color: white;
    border: 3px solid #fff;
    transition: all 0.3s ease-in;

}
.getInTouchBtn:hover {
  border: 3px #d32f2f solid;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    
    color: white;
    /* color: black; */
    cursor: pointer;
    background-color: transparent;
  }
  .getInTouchBtn:hover a p {
  color: white !important;
  /* color: black; */
}
.bold-gotham {
  font-family: "Permanent Marker", Sans-serif;
    font-weight: 700;
}
