
.elementor-heading-title {
  color: black;
  /* font-family: 'Roboto'; */
  font-family: "Gotham Book", Sans-serif;
  font-size: 2.5em;
  font-weight: 500;
  min-width: 100%;
  line-height: 1.35em;
}
.elementor-heading-title {
  padding: 0;
  color: white;
  margin: 0;
  padding-top:15vh;
  margin-bottom: 55px;
  line-height: 1.35em;
}
.stoneharbour-text-sec6 {
  
  font-size: 2.5rem;
  font-weight: 700 !important;
  font-family: 'Gotham Book Bold';
  /* letter-spacing: 10px; */
}
.bold-gotham {
  font-family: "Permanent Marker", Sans-serif;
  font-weight: 200;
  font-size: 3.5rem;
  line-height: 1.35em;
}
@media (min-width: 1067px) {
  .elementor-heading-title {
    font-size: 4vw !important;
  }
  .elementor-heading-title {
    font-size: 3.795vw !important;
    
  }
  .stoneharbour-text-sec6 {
    font-size: 3.795vw !important;
  }
  .bold-gotham {
    font-size: 3.795vw !important;
  }
}

.hexagon-section-wrapper {
  position: relative;
  margin-bottom: 50px; /* Space below the section */
}

.hexagon-gradient {
  position: absolute;
  top: 95%; /* Place directly below the hexagon section */
  left: 0;
  width: 100%;
  height: 150px; /* Adjust height of the gradient */
  background: linear-gradient(to bottom, black, white);
  z-index: -1; /* Place behind other content */
}

.hexagon-gradient-white {
  position: absolute;
  top: 95%; /* Place directly below the hexagon section */
  left: 0;
  width: 100%;
  height: 150px; /* Adjust height of the gradient */
  background: linear-gradient(to bottom, black, white);
  z-index: -1; /* Place behind other content */
}

.vault-content {
  padding-right: 10px;
  padding-left: 10px;
}
.hexagon-container {
  text-align: center;
  padding-top: 10px;
  position: relative;
  background-image: url('/made2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 2067px) {
  .hexagon-container {

    min-height: 2200px;
  }
}
@media (max-width: 767px) {
  .hexagon-container {
    min-height: 1400px;
    padding-bottom: 400px !important;
  }
}

.dd_container {
  padding-bottom: 500px;
  
}
@media (max-width: 800px) {

  .dd_container {
    padding-bottom: 500px;
  }
}

.contact {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 1000px;
  display: flex;
  z-index: 1234567;
  
}
.contact > div {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top:25vh;
}

.contact video {
  min-height: 383px;
}
.contact input {
  background-color: #e1dfdf;
  color: #d4d4d4;
  border: none;
  padding: 12px;
  padding-left: 15px;
  font-size: 12px;
  font-family: Gotham Book;
  border-radius: 5px;
  max-width: 300px;
}
.video-overlay {
  height: 100%;

  width: 100%;
  background-color: #aaaaaa;
  position: absolute;
  max-height: 923px;
  z-index: 123456;
  top: 0;
}
.site-text {
  color: white;
  /* font-family: Roboto; */
  font-weight: 800;
  font-family: 'GOTHAM BOOK Bold';
}
@media (max-width: 800px) {
  .contact {
    min-height: 800px;
  }
  .contact > div {
    min-height: 500px;
    width: 500px;
    padding: 1rem; 
  }
  .contact > div >div {
    max-width: 100%;
  }
}

@media (max-width: 459px) {
  .contact > div > p > img{
    top: 30px !important;
  }
  .contact > div > p{
    max-width: 100%;
}
  .contact > div {
    /* padding: 1rem; */
  }
  .contact > div >div {
    min-width: 100%;
  }
  .contact input {
    max-width: 300px;
  }
}
.content video {
  min-height: 1243px;
  object-fit: cover;
}

.terms-and-conditions input{
  background-color: white;
}
.terms-and-conditions {
  align-items: flex-start;
  display: flex;
  line-height: 1.25rem;
  word-break: break-word;
  margin-top: 5px;
}

.terms-and-conditions p {
  margin: 0!important;
  font-size: 12px;  
  font-family: Gotham Book;
}

.mail-button {
  float: left;
}

.mail-button {
  display: block;
  border: 2px solid #fff;
  background-color: transparent;
  /* background-color: #000; */
  color: #fff;
  padding: 12px 24px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 7px;
  margin: 5px auto 0 0;
  cursor: pointer;
  transition: background-color 0.3s;

  font-family: Gotham Book Bold;
}

.mail-button:hover {
  background-color: #d32f2f !important;
  border-color: #d32f2f;
}
.testimonial-top {
  background: rgb(255,255,255);
  padding-top: 50px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 47.5%, rgb(255, 255, 255) 90%);
  min-height: 800px;
}