.navbar {
    transition: all 0.2s ease-in-out;
      display: flex;
      justify-content: center;
      background-color: #1d1d1d;
      color: white;
  
      /* padding: 1rem; */
      position: fixed;
      width: 100%;
      z-index: 10000;
    }
    .navbar.opaque {
    transition: all 0.2s ease-in;
     opacity: 0.9;
    }
    /* Navbar Styles */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 47px 20px;
  background-color: black;
  height: 80px;
  color: white;
}

.navbar.scrolled {
  background-color: #00000099;
}

.navbar:not(.scrolled) .sublinks-container {
  background-color: #000000 !important;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding-top: 5px;
}

.navbar-links li {

  font-size: 1.5rem;
  font-family: 'Gotham';
  white-space: nowrap;
  padding: 5px;

}

.navbar-links a {
  color: white;
  text-decoration: none;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 250px;
  background-color: black;
  color: white;
  transition: left 0.3s ease-in-out;
  padding: 20px;
}

.sidebar.open {
  left: 0;
}

.sidebar-links {
  list-style: none;
  padding: 0;
}

.sidebar-links li {
  padding: 10px 0;
  font-size: 1.45rem;
  font-family: 'Gotham';
}

.sidebar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.45rem;
  font-family: 'Gotham';
}

/* Responsive Styles */
@media (max-width: 1000px) {
  .navbar-links {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  color: white;
}

.navbar-links {
  display: flex;
  list-style: none;
}

.navbar-links li {
  margin: 0 0;
  text-align: center;
}

.navbar-links a {
  color: white;
  text-decoration: none;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 300px;
  background-color: black;
  color: white;
  transition: left 0.3s ease-in-out;
  padding: 20px;
}

.sidebar.open {
  left: 0;
}

.sidebar-links {
  list-style: none;
  padding: 0;
}

/* .sidebar-links li {
  margin: 20px 0;
} */

.sidebar-links a {
  color: white;
  text-decoration: none;

  font-size: 1.5rem;
  font-family: 'Gotham';
}

/* Responsive Styles */
@media (max-width: 1000px) {
  .navbar-links {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }
}
.sublinks li{
  text-align: left;
  min-width: 200px !important;
}
.sublinks {
  padding: 5px;
}
.sublinks:hover {
  background-color: #14439c;
  transition: background-color 0.27s ease-out;
  color: white;
  text-align: center;
  min-width: fit-content !important; 
}