div *, div * * {
    font-family: 'Gotham Book';
}

.bold {
    font-family: 'Gotham Book Bold';
}

h1 {
    font-size: 32px;
    padding: 10px 0;
}

a {
    cursor: pointer;
}

.content a {
    color: #707070;
    
}

