.vault-container {
    font-family: 'Gotham Book';
    text-align: center;
    padding-bottom: 500px;
    background-color: #fff;
  }
  
  
  .vault-title {
    font-size: 24px;
    margin-bottom: 5vh;
    color: #333;
  }
  
  .vault-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    /* padding-top: 20px; */
  }
  
  .vault-form {
    padding: 63px;
    background-color: #000 !important;
    color: white !important;
    padding-top: 50px;
    border-radius: 10px;
    /* border: 3px white solid; */
    font-family: 'Gotham Book';
    font-weight: 800;
    width: 50%;
    padding-bottom: 45px;
    flex: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .vault-form h3 {
    font-family: 'Gotham Book Bold';
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
  }
  
  .vault-form p {
    font-size: 14px;
    color: #d0cccc;
    margin-bottom: 30px;
    font-family: 'Gotham Book';
    font-weight: 300;
  }
  
  .vault-form label {
    text-align: left;
    display: block;
    font-size: 14px;
    margin-bottom: 3px;
    margin-left: 5px;
    color: white;
    font-family: 'Gotham Book';
  }
  
  .vault-form input,
  .vault-form textarea {
    width: 100%;
    color: black;
    padding: 10px;
    margin-bottom:23px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 10px;
    padding-left: 12.5px;
    background: #ede3e3;
    font-family: 'Gotham Book';
  }
  
  .vault-form textarea {
    resize: none;
    height: 80px;
  }
  
  .vault-form button {
    background-color:  #ffbb2a;
    color: white;
    background-image: linear-gradient(-8deg, #ffbb2a 10%, #ff7000 74%) !important;
    border:none !important;
    padding: 20px 30px;
    border-radius: 5px;
    font-size: 18px !important;
    width:100%;
    cursor: pointer;

    transition: all 300ms ease-in-out;
  }
  
  .vault-form button:hover {
    background-color: transparent;
    border-color: #a42727;
    color: #fff;
  }
  
  .vault-image {
    flex: 1;
  }
  
  .vault-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .vault-content {
      flex-direction: column;
      align-items: center;
    }
  
    .Speaking .vault-content {
      flex-direction: column;
      align-items: flex-start;
    }

    .Speaking     .footer-title {
      font-size: 21px !important;
      text-align: center;
    }
  
  
    .vault-form,
    .vault-image {
      width: 100%;
    }
  }
  
  .address-group {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
  }
  
  .card-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  
  .button-container {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    /* margin-top: 20px; */
  }
  .button-container button {
    padding-top: 9px;
    padding-bottom: 9px;
    margin-left: 3px;
  }